.DS_Store
MongoSsisDataSource/bin/
MongoSsisDataSource/obj/
TestResults/
TraceAndTestImpact.testsettings
MongoSsisDataSource.suo
Local.testsettings
MongoSsisDataSourceTests/bin/
MongoSsisDataSourceTests/Test References/
MongoSsisDataSourceTests/obj/
Installer/bin/
Installer/obj/
Installer/MongoSsisDataSource.dll
MongoDataSourceTests/mongodatasource.snk
[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
